html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
}

*:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}

html {
  font-family: "Montserrat", sans-serif;
  overflow-anchor: none;
}

body {
  position: relative;
}

body.scroll-disable {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

button > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  position: relative;
  line-height: 37px;
  color: #0F5628;
}

.title--center {
  margin-top: 85px;
  margin-bottom: 70px;
  text-align: center;
}

.title__link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #0F5628;
}

.title__link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 6px;
  right: 36px;
  width: 80%;
  height: 1px;
  background-color: #0F5628;
}

.title__link:after {
  content: url("../img/icons/arrow_view.svg");
  margin-left: 14px;
}

.crumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
}

.crumbs--active {
  margin-left: 8px;
  position: relative;
  color: #0F5628;
}

.crumbs--active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0F5628;
}

.crumbs:hover {
  color: #0F5628;
}

.btn {
  width: 240px;
  height: 50px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.input {
  padding-left: 20px;
  width: 300px;
  height: 50px;
  border: 1px solid #0F5628;
  border-radius: 10px;
}

input[type="submit"] {
  cursor: pointer;
}

.btn--primary {
  background-color: #0F5628;
}

.btn--secondary {
  background-color: #d1e5d1;
  color: #000;
}

.btn--disable {
  background-color: #C4C4C4;
  pointer-events: none;
}

.block-more {
  display: none;
}

.block-more.active {
  display: grid;
}

.banner-promo {
  margin-bottom: 100px;
  height: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url(../img/blueberries-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  color: #fff;
}

.banner-promo > p {
  max-width: 500px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.mailing {
  display: flex;
  align-items: center;
  padding: 20px 0 30px;
  border-top: 1px solid #E9F7ED;
}

.mailing__text {
  width: 50%;
  padding-left: 70px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #0F5628;
}

.mailing__form {
  display: flex;
  align-items: center;
  width: 50%;
}

.mailing__email {
  width: 315px;
  height: 44px;
  padding-left: 10px;
  border: 1px solid #0F5628;
  border-radius: 10px 0px 0px 10px;
}

.mailing__email--main {
  width: 226px;
}

.mailing__btn-submit {
  margin-left: -5px;
  width: 140px;
  height: 44px;
  border-radius: 0px 10px 10px 0px;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.header {
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  bottom: -27%;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-image: url("../img/header_separate.svg");
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 174px;
}

.header__menu {
  margin-top: 10px;
}

.header .menu__list {
  display: flex;
  align-items: center;
}

.header .menu__list-item {
  margin-left: 100px;
}

.header .menu__link {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #0F5628;
}

.header .auth {
  display: flex;
  align-items: baseline;
}

.header .auth__link {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.header .auth__link.search {
  background: url("../img/icons/icon_search.svg") no-repeat;
  background-position: center center;
}

.header .auth__link.account {
  background: url("../img/icons/icon_account.svg") no-repeat;
  background-position: center center;
}

.header .auth__link.cart {
  background: url("../img/icons/icon_shopping.svg") no-repeat;
  background-position: center center;
}

.header .auth__link:not(:last-child) {
  margin-right: 35px;
}

.footer {
  background-color: #d1e5d1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 54px;
  padding-bottom: 50px;
}

.footer .menu__list-item {
  margin-bottom: 20px;
}

.footer .menu__link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.footer .paymethod__text {
  margin-bottom: 23px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.footer .paymethod__text > span {
  margin-top: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.footer .paymethod__text > span:before {
  content: url("../img/icons/Credit_card.svg");
  margin-right: 20px;
}

.footer .paymethod__list {
  display: flex;
}

.footer .paymethod__item:not(:last-child) {
  margin-right: 27px;
}

.footer .contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer .contacts__link {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.footer .contacts__link-phone {
  margin-bottom: 14px;
}

.footer .contacts__link-email {
  margin-bottom: 19px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

.footer .contacts__link-email:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 81%;
  height: 1px;
  background-color: #000;
}

.footer .social-icons__list {
  display: flex;
  justify-content: flex-end;
}

.footer .social-icons__item {
  margin-left: 20px;
}

.footer .social-icons__link-vk {
  display: inline-block;
  width: 30px;
  height: 33px;
  background-image: url("../img/icons/vk.svg");
}

.footer .social-icons__link-insta {
  display: inline-block;
  width: 25px;
  height: 31px;
  background-image: url("../img/icons/Instagram.svg");
}

.footer .social-icons__link-fb {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url("../img/icons/Facebook.svg");
}

.weight-checkbox label {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
}

.weight-checkbox label > input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.weight-checkbox label > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  width: 64px;
  height: 24px;
  border: 1px solid #0F5628;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}

.weight-checkbox label:nth-child(2),
.weight-checkbox label:nth-child(3) {
  margin-left: -24px;
}

.weight-checkbox label:nth-child(1) > span,
.weight-checkbox label:nth-child(2) > span {
  width: 84px;
}

.weight-checkbox label > input:checked + span {
  background-color: #0F5628;
  color: #fff;
  z-index: 10;
}

.custom-checkbox span {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox span::before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #0F5628;
  border-radius: 5px;
}

.custom-checkbox span::after {
  content: url("../img/icons/checkbox.svg");
  position: absolute;
  left: 4px;
  top: 1px;
  opacity: 0;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.custom-checkbox > input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

.custom-radio span {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio span::before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #0F5628;
  border-radius: 50%;
}

.custom-radio span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 11px;
  height: 11px;
  background-color: #0F5628;
  border-radius: 50%;
  transform: translateY(-45%);
  opacity: 0;
}

.custom-radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.custom-radio > input[type="radio"]:checked + span::after {
  opacity: 1;
}

.choices::after {
  content: url("../img/icons/arrow-select.svg") !important;
  margin-top: 0 !important;
  border-style: none !important;
  right: 30px !important;
  top: 30% !important;
}

.choices .choices__inner {
  display: flex;
  align-items: center;
  padding-left: 18px;
  width: 300px;
  height: 50px;
  border: 1px solid #0F5628;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.choices.is-open:after {
  margin-top: 0 !important;
  border: none !important;
}

.is-open .choices__inner {
  border: 1px solid #0F5628;
  border-radius: 10px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.is-open .choices__list--dropdown {
  border: 1px solid #0F5628;
  border-top: 1px solid #d1e5d1;
  border-radius: 0 0 10px 10px;
}

.is-open .choices__list--dropdown .choices__item {
  padding-left: 20px;
}

.is-open .choices__item--selectable.is-highlighted {
  background-color: #d1e5d1;
}

.is-open .choices__item--selectable:after {
  display: none;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__item {
  width: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps__item:not(:last-child) {
  margin-right: 100px;
  position: relative;
}

.steps__item:not(:last-child):after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(75px / 2);
  right: -16px;
  width: 74px;
  height: 2px;
  background-color: #d1e5d1;
  transform: translateX(100%);
}

.steps__item span {
  display: block;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #d1e5d1;
}

.steps__item.active {
  color: #0F5628;
}

.steps__item.active .step {
  border: 2px solid #0F5628;
  color: #0F5628;
}

.steps__item.active span {
  color: #0F5628;
}

.steps__item.active:after {
  background-color: #0F5628;
}

.step {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d1e5d1;
  border-radius: 50%;
  font-size: 36px;
  line-height: 44px;
  color: #d1e5d1;
}

.mission-text {
  margin-bottom: 80px;
  padding-top: 46px;
  width: 460px;
  background-image: url("../img/cart/leaf.png");
  background-repeat: no-repeat;
  background-position: 15px 0px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.sidebar {
  padding: 27px;
  margin-bottom: 245px;
  width: 522px;
  border: 1px solid #0F5628;
  box-sizing: border-box;
  border-radius: 30px;
}

.sidebar__title {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.sidebar__list {
  margin-right: -27px;
  margin-bottom: 40px;
  height: 328px;
  overflow: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.sidebar__table {
  border-collapse: collapse;
}

.sidebar__table td {
  padding: 15px 0;
}

.sidebar__table tr:last-child {
  padding-bottom: 0;
}

.sidebar__table tr td:nth-child(2) {
  padding-left: 18px;
  width: 106px;
}

.sidebar__table tr td:nth-child(3) {
  width: 76px;
}

.sidebar__table tr td:nth-child(4) {
  width: 62px;
}

.sidebar__table tr td:nth-child(5) {
  width: 69px;
}

.sidebar__table img {
  width: 88px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.sidebar__table .sidebar__btn-delete-product {
  width: 10px;
  height: 10px;
  background: url("../img/cart/close.svg") no-repeat center center;
}

.delivery {
  margin-top: 126px;
}

.delivery__content {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-bottom: 205px;
}

.info__title {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.info__location {
  margin-bottom: 20px;
}

.info__location span {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0F5628;
}

.info__location span:before {
  content: url("../img/icons/location.svg");
  margin-right: 7px;
}

.info__delivery-methods {
  margin-bottom: 100px;
  display: flex;
}

.info__delivery-method {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 208px;
  height: 134px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}

.info__delivery-method:first-child {
  margin-right: 27px;
}

.info__delivery-method:last-child p {
  margin-bottom: 8px;
}

.info__by-courier-content {
  display: none;
}

.info__by-courier-content.active {
  display: block;
}

.info__by-self-content {
  display: none;
}

.info__by-self-content label span {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #868C88;
}

.info__by-self-content textarea {
  padding: 15px;
  margin-bottom: 50px;
  width: 300px;
  height: 155px;
  border: 1px solid #0F5628;
  border-radius: 10px;
  resize: none;
}

.info__by-self-content.active {
  display: block;
}

.info__user-data {
  margin-bottom: 111px;
  display: flex;
  flex-direction: column;
}

.info__subtitle {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.info label span {
  margin-bottom: 8px;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #868C88;
}

.info__adress-list {
  margin-bottom: 30px;
}

.info__adress-list .choices {
  position: relative;
}

.info__adress-list .choices .choices__inner {
  width: 630px;
}

.info__new-adress-radio {
  margin-bottom: 30px;
}

.info__new-adress-radio span {
  display: flex !important;
  align-items: center;
  font-weight: 300;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000 !important;
}

.info__new-adress-input {
  display: none;
}

.info__new-adress-input.active {
  display: block;
}

.info__input {
  width: 630px;
}

.info__delivery-date {
  margin-bottom: 100px;
}

.info__block-body {
  display: flex;
  flex-wrap: wrap;
  width: 424px;
}

.info__cell {
  margin-bottom: 20px;
  width: 128px;
  height: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0F5628;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.info__cell:not(:nth-child(3n)) {
  margin-right: 20px;
}

.info__cell.active {
  background-color: #0F5628;
  color: #fff;
}

.info__delivery-time {
  margin-bottom: 50px;
}

.info__delivery-time .info__block-body {
  width: 276px;
}

.info__delivery-time .info__cell {
  margin-right: 0;
}

.info__delivery-time .info__cell:not(:nth-child(2n)) {
  margin-right: 20px;
}

.delivery-method {
  color: #6F6767;
  cursor: pointer;
  border: 2px solid #6F6767;
}

.delivery-method__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.delivery-method__text {
  margin-bottom: 4px;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.delivery-method__btn-map {
  margin-top: 5px;
  text-align: left;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #0F5628;
  pointer-events: none;
}

.delivery-method span {
  font-weight: 600;
}

.delivery-method.active {
  border: 2px solid #0F5628;
  color: #000 !important;
  transition: border 0.3s, color 0.3s;
}

.delivery-method.active .delivery-method__btn-map {
  pointer-events: auto;
  color: #0F5628;
}

.sidebar {
  height: 658px;
}

.sidebar .order-list-empty {
  margin-top: 30px;
  text-align: center;
  color: #C4C4C4;
}

.sidebar__btn-order {
  margin-bottom: 40px;
  width: 100%;
}

.sidebar__fast-delivery {
  display: flex;
  align-items: center;
}

.sidebar__fast-delivery img {
  margin-right: 26px;
}

.sidebar__fast-delivery p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.sidebar__fast-delivery p span {
  display: block;
  font-weight: 600;
}

.simplebar-track.simplebar-vertical {
  border: 1px solid rgba(204, 217, 191, 0.3);
  border-radius: 33px;
}

.simplebar-scrollbar {
  width: 11px;
}

.simplebar-scrollbar:before {
  left: 0;
  width: 9px;
  background: #D1E5D1;
  border-radius: 10px;
  opacity: 0.5;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container.active {
  display: flex;
}

.popup {
  z-index: 100;
  padding: 47px 40px 30px;
  width: 1168px;
  height: 620px;
  background-color: #fff;
  overflow: hidden;
}

.popup__header {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.popup__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("../img/cart/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.popup__body {
  display: flex;
}

.popup__map {
  padding-top: 20px;
  margin-right: 40px;
}

.popup__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup__info label span {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.popup__info .custom-radio span::before {
  margin-right: 12px;
}

.popup__points-list li {
  margin-bottom: 33px;
}

.popup__btn-save {
  margin-bottom: 20px;
}

.calendar {
  text-transform: lowercase;
  background: transparent;
  color: #000;
}

.calendar:-moz-placeholder-shown {
  color: #000;
}

.calendar:-ms-input-placeholder {
  color: #000;
}

.calendar:placeholder-shown {
  color: #000;
}

.datepicker {
  left: 600px !important;
}

.datepicker-cell.day {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #262D33;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  border-radius: 50%;
  background: #0F5628;
  color: #fff;
}

.datepicker-cell.focused:not(.selected) {
  border-radius: 50%;
}