@import "_custom-checkbox.scss";
.products-wrapper {
	display: none;
}

.card {
	margin-top: 73px;
	padding: 0 10px 24px;
	border-radius: 10px;
	box-shadow: 5px 4px 18px rgba(0, 0, 0, 0.11);
	&[data-round="1"],
	&[data-round="2"] {
		display: none;
	}
	&[data-round="1"].active,
	&[data-round="2"].active {
		display: block;
	}

	&__image {
		display: block;
		margin-top: -73px;
		margin-bottom: 25px;
		position: relative;
		cursor: pointer;

		&-main {
			width: 100%;
			height: 201px;
			border-radius: 10px;
			object-fit: cover;
		}
		&-like {
			position: absolute;
			bottom: 10px;
			right: 8px;
			border: none;
			background: transparent;
		}
	}

	&__badge {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 23px;
		height: 23px;
		position: absolute;
		top: 15px;
		right: -9px;
		border-radius: 10px;
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		color: $main_color;

		&.card__badge-latest {
			width: 110px;
			background: #64bc62;
		}

		&.card__badge-hit {
			font-weight: 900;
			background: #ffe07d;
		}
	}

	&__content {
		padding: 0 17px;
		&--list {
			display: none;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
	}

	&__weight {
		margin-bottom: 13px;
	}

	&__include {
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		& > span {
			color: $main_color;
		}
	}

	&__price {
		margin-bottom: 14px;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}

	&__btn-block {
		display: flex;
		justify-content: space-between;
	}

	&__btn-cart {
		width: 87px;
		height: 37px;
		border: 1px solid $main-color;
		border-radius: 10px;
		background: url('../img/icons/icon_cart.svg') no-repeat;
		background-position: center center;
		&:hover {
			background: url('../img/icons/icon_basket.svg') no-repeat;
			background-color: $main-color;
			background-position: center center;
		}
	}
}

.quantity-block {
	width: 86px;
	height: 37px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	border: 1px solid $main_color;
	border-radius: 10px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	&__btn-up,
	&__btn-down {
		width: 100%;
		height: 100%;
		border: none;
		background: transparent;
		font-size: 20px;
		line-height: 24px;
	}	
	& input[type="text"] {
		text-align: center;
		width: 25px !important;
		height: 100%;
		border: none;
	}
}


.list {
	.card {
		margin-top: 0;
	}
	.card__image {
		margin-top: 0;
		&-main {
			height: auto;
			border-radius: 10px;
			object-fit: cover;
		}
	}
}