@import '_custom-checkbox.scss';
.card {
	padding: 0 10px 24px;
	border-radius: 10px;
	box-shadow: 5px 4px 18px rgba(0, 0, 0, 0.11);
	
	&__image {
		display: block;
		margin-bottom: 25px;
		position: relative;
		cursor: pointer;
		
		&-main {
			width: 100%;
			border-radius: 10px;
		}
		&-like {
			position: absolute;
			bottom: 10px;
			right: 8px;
			border: none;
			background: transparent;
		}
		
	}

	&__badge {	
		display: flex;
		align-items: center;	
		justify-content: center;
		padding: 0 23px;
		height: 23px;
		position: absolute;
		top: 15px;
		right: -9px;		
		border-radius: 10px;
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		color: $main_color;
		
		&.card__badge-latest {
			width: 110px;
			background: #64BC62;
			
		}

		&.card__badge-hit {			
			font-weight: 900;
			background: #FFE07D;
		}
	}

	&__content {
		padding: 0 17px;
		&--list {
			display: none;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
	}

	&__weight {
		margin-bottom: 13px;
	}

	&__includ {
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		& > span {
			color: $main_color;
		}
	}

	&__price {
		margin-bottom: 14px;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}

	&__btn-block {
		display: flex;
		justify-content: space-between;
	}

	&__btn-basket {
		width: 87px;
		height: 37px;
		border: none;
		border-radius: 10px;
		background-color: $main-color;
	}

	
}

.quantity-block {
	width: 86px;
	height: 37px;		
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid $main_color;
	border-radius: 10px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	&__btn-up,
	&__btn-down {
		border: none;
		background: transparent;
		font-size: 20px;
		line-height: 24px;
	}
}



