.weight-checkbox {
	& label {
		cursor: pointer;
	}
	
	& label > input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	& label > span {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		width: 64px;
		height: 24px;
		border: 1px solid $main_color;
		border-radius: 30px;
		background-color: #fff;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		cursor:  !important;
		pointer-events: none;
		transition: all 0.3s ease;
	}
	& label:nth-child(2),
	& label:nth-child(3) {
		margin-left: -24px;	
	}

	& label:nth-child(1),
	& label:nth-child(2) {
		& > span {
			width: 84px;
		}
	}

	& label > input:checked + span {
		background-color: $main-color;
		color: #fff;
		z-index: 10;
	}
}