.weight-checkbox {
	& label {
		display: inline-block;
		width: auto;
		height: auto;
		cursor: pointer;
	}
	
	& label > input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	& label > span {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		width: 64px;
		height: 24px;
		border: 1px solid $main_color;
		border-radius: 30px;
		background-color: #fff;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		cursor: pointer;
		pointer-events: none;
		transition: all 0.3s ease;
	}
	& label:nth-child(2),
	& label:nth-child(3) {
		margin-left: -24px;	
	}

	& label:nth-child(1),
	& label:nth-child(2) {
		& > span {
			width: 84px;
		}
	}

	& label > input:checked + span {
		background-color: $main-color;
		color: #fff;
		z-index: 10;
	}
}

.custom-checkbox {
	& span {
		position: relative;
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		&::before {
			content: '';
			margin-right: 5px;
			display: inline-block;
			width: 17px;
			height: 17px;
			border: 1px solid $main_color;
			border-radius: 5px;			
		}
		&::after {
			content: url('../img/icons/checkbox.svg');
			position: absolute;
			left: 4px;
			top: 1px;
			opacity: 0;
		}
	}

	& input[type="checkbox"] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	& > input[type="checkbox"]:checked + span::after {
		opacity: 1;
	}	
}

.custom-radio {
	& span {
		position: relative;
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		&::before {
			content: '';
			margin-right: 5px;
			display: inline-block;
			width: 17px;
			height: 17px;
			border: 1px solid $main_color;
			border-radius: 50%;			
		}
		&::after {
			content: "";
			position: absolute;
			left: 4px;
			top: 50%;
			width: 11px;
			height: 11px;
			background-color: $main-color;
			border-radius: 50%;
			transform: translateY(-45%);
			opacity: 0;
		}
	}

	& input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	& > input[type="radio"]:checked + span::after {
		opacity: 1;
	}	
}