.footer {
	background-color: $green-light;

	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding-top: 54px;
		padding-bottom: 50px;
	}

	.menu {

		&__list-item {
			margin-bottom: 20px;
		}
	
		&__link {
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			color: #000;
		}
	}
	.paymethod {
	
		&__text {
			margin-bottom: 23px;
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			& > span {
				margin-top: 8px;
				display: flex;
				align-items: center;
				font-size: 14px;
				line-height: 17px;
				&:before {
					content: url('../img/icons/Credit_card.svg');
					margin-right: 20px;
				}
			}
		}
		
		&__list {
			display: flex;
		}	
	
		&__item:not(:last-child) {
			margin-right: 27px;
		}
	}
	.contacts {
		display: flex;
		flex-direction: column;
		text-align: right;
		
		&__link {
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			&-phone {
				margin-bottom: 14px;
			}
			&-email {					
				margin-bottom: 19px;
				position: relative;			
				font-size: 16px;
				line-height: 20px;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 81%;
					height: 1px;
					background-color: #000;
				}
			}
		}
	}
	.social-icons {
	
		&__list {
			display: flex;
			justify-content: flex-end;
		}
	
		&__item {
			margin-left: 20px;
		}
	
		&__link-vk {
			display: inline-block;
			width: 30px;
			height: 33px;
			background-image: url('../img/icons/vk.svg');
		}
		&__link-insta {
			display: inline-block;
			width: 25px;
			height: 31px;
			background-image: url('../img/icons/Instagram.svg');
		}
		&__link-fb {
			display: inline-block;
			width: 34px;
			height: 33px;
			background-image: url('../img/icons/Facebook.svg');
		}
	}
}


