.offer {
	position: relative;
	&__title {
		margin-bottom: 65px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}	

	.swiper-container-offer {
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
	}
	.swiper-wrapper {
	}
	.swiper-slide {
		height: 355px;
		border-radius: 10px;
		background-image: url("../img/offers_bg/sale_img5.png");
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		&-shadow-left {
			display: none;
		}
		&-shadow-right {
			display: none;
		}
		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 58px 0 0 85px;
			width: 100%;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			
		}
		&__title {
			margin-bottom: 20px;
			font-size: 36px;
			font-weight: 700;
			line-height: 44px;			
		}
		&__text {
			max-width: 245px;
			font-size: 22px;
			font-weight: 600;
			line-height: 27px;
		}
	}
	.swiper-slide[data-swiper-slide-index="2"] {
		background-image: url('../img/offers_bg/sale_img2.png') !important;
	}
	.swiper-slide[data-swiper-slide-index="3"] {
		background-image: url('../img/offers_bg/sale_img4.png');
	}
	.swiper-slide[data-swiper-slide-index="4"] {
		background-image: url('../img/offers_bg/sale_img2.png');
	}
	.swiper-slide[data-swiper-slide-index="5"] {
		background-image: url('../img/offers_bg/sale_img4.png');
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: 59%;
		width: 35px !important;
		height: 35px !important;
		border-radius: 50%;
		border: 1px solid #0f5628;
		background: transparent;
		&:after {
			content: "" !important;
		}
		&:active,
		&:focus {
			box-shadow: inset 2 2 20px grey;
		}
	}
	.swiper-button-next {
		& > img {
			transform: rotate(180deg);
		}
	}
}
