@import "main.sass";
@import "_card.scss";
@import "_tabs_products.scss";
@import "_custom-checkbox.scss";

.cart {
	margin-top: 126px;

	.steps {
		display: flex;
		justify-content: center;
		align-items: center;		
	}

	.steps__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& span {
			display: block;
			margin-top: 20px;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: $green-light;			
		}
		&.active {
			color: $main_color;
			& .cart__step {
				border: 2px solid $main_color;
				color: $main_color
			}		
			& span {
				color: $main_color;
			}	
		}
		&:nth-child(2),
		&:nth-child(4) {
			margin-top: -40px;
			width: 74px;
			height: 1px;
			background: $green-light;
			border: 1px solid $green-light;
			&.active {
				background: $main_color;
				border: 1px solid $main_color;
			}
		}		 
	}

	.step {
		width: 75px;
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $green-light;
		border-radius: 50%;
		font-size: 36px;		
		line-height: 44px;
		color: $green-light;
	}

	.info {
		margin-bottom: 80px;
		width: 460px;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		& img {
			display: block;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__products-list {
		width: 740px;

	}

	&__sidebar {
		width: 414px;
		border: 1px solid $main_color;
		box-sizing: border-box;
		border-radius: 30px;
	}
}

.products {
	border-collapse: collapse;

	td, th {
		text-align: left;
		box-sizing: border-box;
	}
	
	th {		
		padding-bottom: 5px;
		font-weight: 300;
		font-size: 12px;
		line-height: 15px;
		
	}
	
	.thead {
		border-bottom: 1px solid $grey;
		&.hide {
			display: none;
		}
		&__sum {
			padding-left: 30px;
		}
	}

	.tbody.empty {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $grey;
	}



	.tbody tr td {
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 40px;
		text-align: left;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
	
}
.product {

	&__title {
		margin-bottom: 20px;
		display: block;
		font-size: 14px;
		line-height: 17px;
	}

	&__name {	
		display: flex;
		align-items: center;
		width: 325px;
		& img {			
			margin-right: 20px;
			width: 88px;
			height: 88px;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	&__price {
		width: 108px;
	}

	&__quantity {
		width: 136px;
	}

	&__sum {
		padding-right: 0 !important;
		width: 136px;
	}

	&__delete {
		padding-right: 0 !important;
		& img {
			width: 16px;
			height: 16px;
		}
	}

	&__quantity-block {
		width: 89px;
	}

}

.sidebar {
	padding: 26px;

	&__title {
		margin-bottom: 7px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;	
		color: $main_color;	
	}

	&__sum {		
		font-size: 24px;
		line-height: 29px;
	}

	&__sale {
		margin-bottom: 68px;
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
	}

	&__promocode {
		margin-bottom: 40px;
		position: relative;
		& span {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__input {
		margin-top: 30px;
		padding-left: 24px;
		width: 190px;
		display: none;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;		
		&.active {
			display: block;
		}
	}

	.clear-input {
		display: none;
		position: absolute;
		top: 66%;
		right: 52%;
		&.active {
			display: block;
		}
	}

	&__btn-order {
		margin-bottom: 45px;
		width: 354px;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		&:disabled {
			background: #c4c4c4;
			pointer-events: none;
		}
	}

	&__free-delivery {
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	&__good-quality {
		display: flex;
		& span {
			display: block;
			font-weight: 600;
		}
		& img {
			margin-right: 35px;
		}
	}
}

