@import "main.sass";
@import "_custom-checkbox.scss";

.delivery {
	margin-top: 126px;

	.steps {
		display: flex;
		justify-content: center;
		align-items: center;		
	}

	.steps__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& span {
			display: block;
			margin-top: 20px;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: $green-light;			
		}
		&.active {
			color: $main_color;
			& .step {
				border: 2px solid $main_color;
				color: $main_color
			}		
			& span {
				color: $main_color;
			}	
		}
		&:nth-child(2),
		&:nth-child(4) {
			margin-top: -40px;
			width: 74px;
			height: 1px;
			background: $green-light;
			border: 1px solid $green-light;
			&.active {
				background: $main_color;
				border: 1px solid $main_color;
			}
		}		 
	}

	.step {
		width: 75px;
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $green-light;
		border-radius: 50%;
		font-size: 36px;		
		line-height: 44px;
		color: $green-light;
	}

	&__mission-text {
		margin-bottom: 80px;
		width: 460px;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		& img {
			display: block;
		}
	}
	
	&__mission-text {
		& img {
			margin-left: 20px;
			margin-bottom: -15px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}	
}

.info {
	margin-bottom: 205px;

	&__title {
		display: block;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}

	&__location {
		margin-bottom: 20px; 		
		& span {
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: $main_color;
			&:before {
				content: url('../img/icons/location.svg');
				margin-right: 7px;
			}
		}
	}

	&__delivery-methods {
		margin-bottom: 100px;
		display: flex;
	}

	&__delivery-method {
		padding-left: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 208px;
		height: 134px;
		border: 1px solid $grey;
		border-radius: 8px;
		&:first-child {
			margin-right: 27px;
		}
		&:last-child p {
			margin-bottom: 8px;
		}
	}

	&__by-courier-content {
		display: none;
		&.active {
			display: block;
		}
	}

	&__by-self-content {
		display: none;
		& label span {
			margin-bottom: 8px;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #868C88;
		}
		& textarea {
			padding: 15px;
			margin-bottom: 50px;	
			width: 300px;
			height: 155px;
			border: 1px solid $main_color;
			border-radius: 10px;
			resize: none;
		}
		&.active {
			display: block;
		}
	}

	&__user-data {
		margin-bottom: 111px;
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		margin-bottom: 30px;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}

	label {
		& span {
			margin-bottom: 8px;
			display: block;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #868C88;
		}
	}

	&__adress-list {
		margin-bottom: 30px;
		
		.choices {
			position: relative;
			.choices__inner {
				width: 630px;
			}
		}
		
	}

	&__new-adress-radio {
		margin-bottom: 30px;		
		& span {
			display: flex !important;
			align-items: center;
			font-weight: 300;
			font-size: 16px !important;
			line-height: 20px !important;
			color: #000 !important;
		}
	}

	&__new-adress-input {
		display: none;
		&.active {
			display: block;
		}
	}

	&__input {
		width: 630px;
	}

	&__delivery-date {
		margin-bottom: 100px;
	}

	&__block-body {
		display: flex;
		flex-wrap: wrap;
		width: 424px;
	}

	&__cell {
		margin-bottom: 20px;
		width: 128px;
		height: 55px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $main_color;
		border-radius: 10px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		cursor: pointer;
		&:not(:nth-child(3n)) {
			margin-right: 20px;
		}
		&.active {
			background-color: $main-color;
			color: #fff;
		}
	}

	&__delivery-time {
		margin-bottom: 50px;
		& .info__block-body {
			width: 276px;
		}
		& .info__cell {
			margin-right: 0;
			&:not(:nth-child(2n)) {
				margin-right: 20px;
			}
		}
	}

	&__btn-next {
	}
}
.delivery-method {
	color: #6F6767;
	cursor: pointer;
	&__title {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;				
	}

	&__text {
		margin-bottom: 4px;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
	}

	&__btn-map {
		margin-top: 5px;
		text-align: left;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		color: $main_color;
		pointer-events: none;
	}
	& span {
		font-weight: 600;
	}
	&.active {	
		border: 2px solid $main_color;
		color: #000 !important;
		& .delivery-method__btn-map {
			pointer-events: auto;
			color: $main_color;
		}		
	}
}


.sidebar {
	padding: 27px;
	margin-bottom: 245px;
	width: 522px;
	height: 658px;
	border: 1px solid $main_color;
	box-sizing: border-box;
	border-radius: 30px;

	&__title {
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
	}

	&__order-list {
		margin-right: -27px;
		margin-bottom: 40px;
		padding-right: 80px;
		height: 328px;
		overflow: auto;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	.order-list-empty {
		margin-top: 30px;
		text-align: center;
		color: $grey;
	}

	&__order-item {
	}

	&__btn-order {
		margin-bottom: 40px;
		width: 100%;
	}

	&__fast-delivery {
		display: flex;
		align-items: center;
		& img {
			margin-right: 26px;
		}
		& p {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			& span {
				display: block;
				font-weight: 600;
			}
		}
	}
}
.order-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	& > img {
		width: 88px;
		height: 88px;
		object-fit: cover;
		border-radius: 10px;
	}

	&__name {
		font-weight: 400;
	}

	&__price {
		font-weight: 400;
	}
}

.simplebar-track.simplebar-vertical {	
	border: 1px solid rgba(204, 217, 191, .3);
	border-radius: 33px;
}

.simplebar-scrollbar {
	width: 11px;	
	&:before {
		left: 0;
		width: 9px;
		background: #D1E5D1;
		border-radius: 10px;
		opacity: 0.5;
	}
	
}

.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}


.popup-container {
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 20;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	&.active {
		display: flex;
	}
}
.popup {
	z-index: 100;
	padding: 47px 40px 30px;
	width: 1168px;
	height: 620px; 	
	background-color: #fff;
	overflow: hidden;
		&__header {
			margin-bottom: 27px;
			display: flex;
			justify-content: space-between;	
			align-items: center;		
		}

		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
		}

		&__close {			
			cursor: pointer;
			width: 20px;
			height: 20px;
			background-image: url('../img/cart/close.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}

		&__body {
			display: flex;
		} 	

		&__map {
			padding-top: 20px;
			margin-right: 40px;
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& label span {
				font-weight: 300;
				font-size: 14px;
				line-height: 17px;
			}

			.custom-radio span::before {
				margin-right: 12px;
			}
		}

		&__points-list {
			& li {
				margin-bottom: 33px;
			}
		}

		&__btn-save {
			margin-bottom: 20px;
		}
}

.calendar	{
	padding-left: 27px;
	text-transform: lowercase;
	&:placeholder-shown {
		text-transform: capitalize;
		color: #fff !important;
	}
}

.datepicker {
	left: 600px !important;
}

.datepicker-cell.day {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #262D33;
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
	border-radius: 50%;
	background: $main-color;
	color: #fff;
}

.datepicker-cell.focused:not(.selected) {
	border-radius: 50%;
}

