@import "main.sass";
@import "_custom-checkbox.scss";
@import '_steps.scss';
@import '_sidebar_list.scss';


.pay {
	margin-top: 126px;	
	
	&__content {
		display: flex;
		justify-content: space-between;
	}	
}

.info {
	margin-bottom: 205px;

	&__title {
		display: block;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}

	&__pay-methods {
		margin-bottom: 100px;		
		width: 522px;
		& > li {
			padding: 17px 30px 16px;
			border: 1px solid $main-color;
			border-radius: 10px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	.credit-card-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.credit-card-item {
			display: inline-block;
		}
	}

	&__btn-checkout, 
	&__btn-back {
		display: block;
	}

	&__btn-checkout {
		margin-bottom: 40px;
	}
}


.sidebar {
	height: 705px;

	&__price-block {
		margin-bottom: 44px;
	}

	&__fullprice,
	&__discount,
	&__promocode {
		display: flex;
		justify-content: space-between;
	}

	&__fullprice {
		margin-bottom: 9px;	
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #35492E;
	}

	&__discount,
	&__promocode {
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
	}

	&__discount {
		margin-bottom: 10px;
	}

	&__safe-payment {
		display: flex;
		align-items: center;
		& img {
			margin-right: 26px;
		}
		& p {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			& span {
				display: block;
				font-weight: 600;
			}
		}
	}
}

.simplebar-track.simplebar-vertical {	
	border: 1px solid rgba(204, 217, 191, .3);
	border-radius: 33px;
}

.simplebar-scrollbar {
	width: 11px;	
	&:before {
		left: 0;
		width: 9px;
		background: #D1E5D1;
		border-radius: 10px;
		opacity: 0.5;
	}
	
}

.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}

.custom-radio span::after {
	top: 49%;
}

