@import "main.sass";
@import "_custom-checkbox.scss";

.pay {
	margin-top: 126px;

	.steps {
		display: flex;
		justify-content: center;
		align-items: center;		
	}

	.steps__item {
		width: 92px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& span {
			display: block;
			margin-top: 20px;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: $green-light;			
		}
		&.active {
			color: $main_color;
			& .step {
				border: 2px solid $main_color;
				color: $main_color
			}		
			& span {
				color: $main_color;
			}	
		}
		&:nth-child(2),
		&:nth-child(4) {
			margin-top: -40px;
			width: 74px;
			height: 1px;
			background: $green-light;
			border: 1px solid $green-light;
			&.active {
				background: $main_color;
				border: 1px solid $main_color;
			}
		}		 
	}

	.step {
		width: 75px;
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $green-light;
		border-radius: 50%;
		font-size: 36px;		
		line-height: 44px;
		color: $green-light;
	}

	&__mission-text {
		margin-bottom: 80px;
		width: 460px;
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
		& img {
			display: block;
		}
	}

	&__mission-text {
		& img {
			margin-left: 20px;
			margin-bottom: -15px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}	
}

.info {
	margin-bottom: 205px;

	&__title {
		display: block;
		margin-bottom: 40px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}

	&__pay-methods {
		margin-bottom: 100px;		
		width: 522px;
		& > li {
			padding: 17px 30px 16px;
			border: 1px solid $main-color;
			border-radius: 10px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	.credit-card-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.credit-card-item {
			display: inline-block;
		}
	}

	&__btn-checkout, 
	&__btn-back {
		display: block;
	}

	&__btn-checkout {
		margin-bottom: 40px;
	}


}


.sidebar {
	padding: 27px;
	margin-bottom: 245px;
	width: 522px;
	height: 705px;
	border: 1px solid $main_color;
	box-sizing: border-box;
	border-radius: 30px;

	&__title {
		margin-bottom: 30px;
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
	}

	&__order-list {
		margin-right: -27px;
		margin-bottom: 40px;
		padding-right: 124px;
		height: 328px;
		overflow: auto;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	&__price-block {
		margin-bottom: 44px;
	}

	&__fullprice,
	&__discount,
	&__promocode {
		display: flex;
		justify-content: space-between;
	}

	&__fullprice {
		margin-bottom: 9px;	
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		color: #35492E;
	}

	&__discount,
	&__promocode {
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
	}

	&__discount {
		margin-bottom: 10px;
	}

	&__safe-payment {
		display: flex;
		align-items: center;
		& img {
			margin-right: 26px;
		}
		& p {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			& span {
				display: block;
				font-weight: 600;
			}
		}
	}
}
.order-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	& > img {
		width: 88px;
		height: 88px;
		object-fit: cover;
		border-radius: 10px;
	}

	&__name {
		font-weight: 400;
	}

	&__price {
		font-weight: 400;
	}
}

.simplebar-track.simplebar-vertical {	
	border: 1px solid rgba(204, 217, 191, .3);
	border-radius: 33px;
}

.simplebar-scrollbar {
	width: 11px;	
	&:before {
		left: 0;
		width: 9px;
		background: #D1E5D1;
		border-radius: 10px;
		opacity: 0.5;
	}
	
}

.simplebar-scrollbar.simplebar-visible:before {
	opacity: 1;
}

.custom-radio span::after {
	top: 49%;
}

