@import "_normalize.scss"
@import "_variabels.scss"

*
	margin: 0
	padding: 0

h1, h2, h3
	margin: 0
	padding: 0

ul
	list-style-type: none

a
	text-decoration: none

button
	cursor: pointer

html
	font-family: "Montserrat", sans-serif

main
	padding-bottom: 100px

.container
	max-width: 1280px
	margin: 0 auto

.title
	margin-top: 85px
	font-weight: 600
	font-size: 30px
	line-height: 37px
	color: $main-color

@import "_fonts.sass"
@import "_swiper.min.scss"
@import "_header.scss"
@import "_hero.scss"
@import "_offer.scss"
@import "_catalog.scss"
@import "_card.scss"
@import "_mission.scss"

