@import "_normalize.scss"
@import "_variabels.scss"
@import "_fonts.sass"

*
	margin: 0
	padding: 0
	box-sizing: border-box
	&:focus, &:active
		outline: none !important
	&:focus-visible
		outline: 2px solid black
		outline-offset: 2px

html
	font-family: "Montserrat", sans-serif
	overflow-anchor: none

h1, h2, h3
	margin: 0
	padding: 0
	font-weight: 600

h1
	font-size: 36px

h2
	font-size: 30px

h3
	font-size: 20px

ul
	list-style-type: none

a
	text-decoration: none

button
	cursor: pointer
	border: none
	background: transparent

.container
	max-width: 1280px
	margin: 0 auto

.title
	position: relative
	line-height: 37px
	color: $main-color
	&__link
		display: flex
		align-items: center
		font-size: 14px
		font-weight: 300
		line-height: 17px
		color: $main_color
		text-decoration: underline
		&:after
			content: url('../img/icons/arrow_view.svg')
			margin-left: 14px

.crumbs
	font-weight: 300
	font-size: 14px
	line-height: 17px
	color: #818181
	&--active
		margin-left: 8px
		text-decoration: underline
		color: $main-color
	&:hover
		color: $main-color

.btn
	width: 240px
	height: 50px
	border: none
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
	border-radius: 10px
	font-family: 'Lato', sans-serif
	text-transform: uppercase
	color: #fff
	font-size: 16px
	font-weight: 700
	line-height: 19px

.btn--primary
	background-color: $main-color

.btn--secondary
	background-color: $green-light
	color: #000

.btn--disable
	background-color: $grey

.block-more 
	display: none
	&.active
		display: grid

.banner-promo
	margin-bottom: 100px
	height: 292px
	display: flex
	justify-content: center
	align-items: center
	background-color: rgba(255, 255, 255, 80%)
	background-image: url(../img/blueberries-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	font-size: 30px
	font-weight: 700
	line-height: 37px
	color: #fff
	& > p
		max-width: 500px
		text-align: center
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)

.mailing
	display: flex
	align-items: center
	padding: 20px 0 30px
	border-top: 1px solid #E9F7ED
	&__text
		width: 50%
		padding-left: 70px
		font-weight: 600
		font-size: 14px
		line-height: 17px
		color: $main_color

	&__form
		display: flex
		align-items: center
		width: 50%

	&__email
		width: 315px
		height: 44px
		padding-left: 10px
		border: 1px solid $main_color
		border-radius: 10px 0px 0px 10px
		&--main
			width: 226px

	&__btn-submit
		margin-left: -5px
		width: 140px
		height: 44px
		border-radius: 0px 10px 10px 0px
		text-transform: none
		font-family: 'Montserrat', sans-serif
		font-weight: 300
		font-size: 14px
		line-height: 17px
		cursor: pointer

@import "_swiper.scss"
@import "_custom-select.scss"
@import "_header.scss"
@import "_footer.scss"

