.team {

	&__title {
		margin-bottom: 44px;
		position: relative;
		text-align: center;
		& > span {
			position: absolute;
			left: 0;
			top: 0;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;			
			color: #818181;
			& > span {
				text-decoration: underline;
			}
		}
	}

	&__content {
		display: flex;
		background: #F0F0F3;
		box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;

	}

	&__persons {
		padding: 100px 37px 0 32px;
	}

	&__banner {
		
	}

	&__persons-slide {
		padding: 490px 26px 0;
		background-color: #EDF5ED;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
		&-ahmed {
			background-image: url('/../img/team/team_banner.png');			
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 10px;
			background-color: rgba(0, 0, 0, 0.3);
		}
		
		&-text {
			z-index: 10;
			font-weight: 600;
			font-size: 36px;
			line-height: 131.1%;
			color: #fff;
		}
	}

	.navigation {
		margin-bottom: 50px;

		&__link {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #878787;
		}

		&__link:first-child {
			margin-right: 20px;
		}
	
		&__link--active {
			text-decoration-line: underline;
			color: $main_color;
		}
	}
	
	.persons {
	
		&__list {
			margin-bottom: 73px;
		}
	
		&__list-item {
			display: flex;
		}
	}
	.person {
		&:not(:last-child) {
			margin-bottom: 91px;
		}
	
		&__ava {
			margin-right: 60px;
			border-radius: 10px;
		}
	
		&__descr {
		}
	
		&__name {
			margin-bottom: 24px;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			& span {
				margin-top: 10px;
				display: block;
				font-size: 12px;
				line-height: 14px;
			}
		}
	
		&__quot {
			font-weight: 300;
			font-size: 14px;
			line-height: 136.3%;
		}
	}

	&__more-persons-link {
		margin-bottom: 24px;
		display: block;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-decoration-line: underline;
		color: #0F5628;
		&:after {
			content: url('/../img/icons/arrow_view.svg');
			display: block;
			margin-top: 10px;
			transform: rotate(90deg);
		}
	}

	.swiper-container {
		width: 528px;
		height: 100%;
	}


	.swiper-pagination-bullets {
		bottom: 110px !important;			
	}

	.swiper-pagination-bullet {
		margin: 0 20px !important;
		width: 18px;
		height: 15px;
		background-color: #fff !important;
		&-active {
			width: 83px !important;
			height: 15px !important;
			border-radius: 10px !important;
		}	
	}

	.production {
		position: relative;		
		margin-bottom: 135px;

		&__slide {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 375px;
			height: 352px;
			border-radius: 10px;
			background-repeat: no-repeat;
			background-size: cover;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.35);
			}
			&-1 {
				background-image: url('/../img/team/production_bg1.png');
			}
			&-2 {
				background-image: url('/../img/team/production_bg1.png');
			}
			&-3 {
				background-image: url('/../img/team/production_bg1.png');
			}
			&-4 {
				background-image: url('/../img/team/production_bg1.png');
			}
			&-5 {
				background-image: url('/../img/team/production_bg1.png');
			}
		}

		&__slide-title {
			text-align: center;
			font-weight: 600;
			font-size: 24px;
			line-height: 131.1%;
			color: #FFF;
		}
	}

	.mailing {
		display: flex;
		align-items: center;
		padding: 20px 0 30px;
		border-top: 1px solid #E9F7ED;

		&__text {
			width: 50%;
			padding-left: 70px;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: $main_color;
		}

		&__form {
			width: 50%;
		}
}

}

